name: Run lint and static analyis checks
on:
  pull_request:

concurrency:
  group: lint-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: MetroStar/actions-workflows/.github/workflows/lint.yml@3b8e48de2da8233d170c1d094932a562d9a36990
